In [1]:
import pandas as pd
import json

In [2]:
cat_appliances = pd.read_csv('./data/Appliances/eda-appliances.csv')
cat_magazine_subscription = pd.read_csv('./data/Magazine_Subscriptions/eda-magazine_subscription.csv')

In [3]:
# Deserialize JSON strings back into Python objects
cat_appliances['reviews'] = cat_appliances['reviews'].apply(json.loads)
cat_appliances['helpful_votes'] = cat_appliances['helpful_votes'].apply(json.loads)
cat_appliances['verified_purchase'] = cat_appliances['verified_purchase'].apply(json.loads)

cat_magazine_subscription['reviews'] = cat_magazine_subscription['reviews'].apply(json.loads)
cat_magazine_subscription['helpful_votes'] = cat_magazine_subscription['helpful_votes'].apply(json.loads)
cat_magazine_subscription['verified_purchase'] = cat_magazine_subscription['verified_purchase'].apply(json.loads)

In [4]:
cat_appliances.columns

Index(['asin', 'reviews', 'total_reviews', 'first_review_date',
       'last_review_date', 'helpful_votes', 'verified_purchase'],
      dtype='object')

In [5]:
cat_magazine_subscription.columns

Index(['asin', 'reviews', 'total_reviews', 'first_review_date',
       'last_review_date', 'helpful_votes', 'verified_purchase'],
      dtype='object')

In [6]:
# Add category columns
cat_appliances['category'] = 1
cat_magazine_subscription['category'] = 2

# Combine the two DataFrames
combined_df = pd.concat([cat_appliances, cat_magazine_subscription], ignore_index=True)
assert(combined_df.shape[0]==cat_appliances.shape[0]+cat_magazine_subscription.shape[0])

In [7]:
combined_df.sample(10)

,asin,reviews,total_reviews,first_review_date,last_review_date,helpful_votes,verified_purchase,category
224,B00SPYDSFC,[{'review_title': 'Much better quality than th...,1194,2015-02-10 15:20:39.000,2022-08-15 14:42:17.505,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[True, True, True, True, True, True, True, Tru...",1
361,B01N3QADS5,"[{'review_title': 'Good', 'review_text': 'Prod...",952,2016-12-15 14:48:51.000,2023-08-21 10:21:41.801,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 9, ...","[True, True, True, True, True, True, True, Tru...",1
22,B000DLB2FI,"[{'review_title': 'My K-Cup and B40', 'review_...",5736,2006-02-28 01:34:13.000,2023-04-09 16:43:44.205,"[7, 0, 0, 0, 0, 0, 3, 0, 1, 0, 2, 0, 0, 1, 0, ...","[False, True, True, True, True, True, True, Tr...",1
495,B07QC7JRDP,"[{'review_title': 'Excellent!', 'review_text':...",2492,2019-04-28 22:57:39.585,2023-08-15 09:53:05.455,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...","[True, True, True, True, True, True, True, Tru...",1
473,B07H9LHMR2,"[{'review_title': 'great product', 'review_tex...",646,2018-11-20 00:10:47.096,2023-08-06 18:30:25.375,"[0, 0, 0, 0, 0, 0, 0, 1, 0, 2, 0, 0, 0, 0, 0, ...","[True, True, True, True, True, True, True, Tru...",1
212,B00MVVITWC,"[{'review_title': 'The right size.', 'review_t...",810,2015-03-02 21:17:30.000,2023-08-01 00:39:56.058,"[0, 0, 593, 2, 0, 2, 59, 0, 0, 0, 9, 0, 15, 0,...","[True, True, True, True, True, True, True, Tru...",1
431,B079SNL9H6,"[{'review_title': 'Fit perfectly', 'review_tex...",904,2018-10-08 19:40:31.645,2023-07-01 19:27:21.506,"[0, 0, 0, 0, 0, 0, 0, 12, 0, 0, 0, 0, 0, 0, 0,...","[True, True, True, True, True, True, True, Tru...",1
520,B07VV2TRY9,"[{'review_title': 'Hats need washing', 'review...",594,2019-10-10 11:16:36.225,2023-08-27 03:54:49.400,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[True, True, True, True, True, True, True, Tru...",1
183,B00GPXASXK,"[{'review_title': 'Arrived missing handle', 'r...",770,2014-01-27 05:24:43.000,2023-07-05 20:19:39.702,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[True, True, True, True, True, True, True, Tru...",1
255,B00ZY70Y78,"[{'review_title': 'Water filters', 'review_tex...",572,2015-09-20 22:45:55.000,2023-03-30 22:47:03.709,"[0, 0, 0, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0, 0, 0, ...","[True, True, True, True, True, True, True, Tru...",1

In [8]:
print(combined_df.columns)
print(combined_df.shape)

Index(['asin', 'reviews', 'total_reviews', 'first_review_date',
       'last_review_date', 'helpful_votes', 'verified_purchase', 'category'],
      dtype='object')
(591, 8)

In [9]:
combined_df['reviews'] = combined_df['reviews'].apply(json.dumps)
combined_df['helpful_votes'] = combined_df['helpful_votes'].apply(json.dumps)
combined_df['verified_purchase'] = combined_df['verified_purchase'].apply(json.dumps)

In [11]:
combined_df.to_csv('./data/amazon-reviews-for-2-cats.csv', index=False)